.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2D2D2A;
  padding: 1.1rem 2rem;
  font-family: 'Play', sans-serif;
  
}

.logo {
  display: flex;
  align-items: center;
  

}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;

}


.dropdown {
  position: relative;
  color: whitesmoke;
}

.dropBtn {
  background: none;
  border: none;
  font-family: 'Play', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #f1f3f5;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropBtn span {
  font-size: 0.7rem;
  margin-left: 4px;
}

/* Dropdown Animation */
.dropdownMenu {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  min-width: 230px;
  z-index: 999;
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.dropdownMenu li {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
  color: #0d0d0e;
}

.dropdownMenu li:hover {
  background: #2D2D2A;
  color: #f1f3f5;
}

/* Show state with animation */
.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.applyBtn {
  background: #111111;
  text-align: center;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background 0.25s ease, transform 0.2s ease;
}

.applyBtn:hover {
  background: #e6a600;
  transform: translateY(-1px);
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loginBtn {
  background-color: transparent;
  color: #f5efef;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 18px;
}

.loginBtn:hover {
  background-color: #f5a64b;
  color: #333;
}

.createAccountBtn {
  background-color: transparent;
  color: #f5efef;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 18px;
}

.createAccountBtn:hover {
  background-color: #f5a64b;
  color: #333;
}

.icon {
  font-size: 1.3rem;
}

.loginBtn,
.createAccountBtn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}