.section {
  background-color: #f5f7fa;
  padding: 4rem 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.left {
  flex: 1 1 300px;
  max-width: 400px;
}

.subheading {
  font-size: 0.85rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: #47494b;
  margin-bottom: 0.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #0B3142;
}

.text {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.button {
  background-color: #003087;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #002266;
}

/* Grid styles */
.grid {
  flex: 2 1 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.card i {
  font-size: 2rem;
  color: #0c0c0c;
}

.card:hover {
  background-color: #0B3142;
  color: #fff;
}

.card:hover i {
  color: #fff;
}



/* Responsive */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}